* {
    box-sizing: border-box;
}

body {
    background: #E9ECF8;
}
/* Logo 
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    margin-bottom: 200px;
}*/

.logo-container {
    left: 40px;
    top: 40px;
    width: 124px;
    height: 48px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 15px;
}

main {
    margin: 120px 30px 30px 70px;
}

.main-container {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.container-desencriptado {
    width: 60%;
}

.container-desencriptado textarea {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
    width: 100%;
}

.container-encriptado {
    position: absolute;
    width: 400px;
    height: 844px;
    top: 40px;
    right: 20px;
    background: whitesmoke;
    border-radius: 20px;
}

.img-muñeco {
    /*position: absolute;*/
    width: 336px;
    height: 304px;
    right: 30px;
    top: 123px;
}

footer {
    min-width: 94%;
    bottom: 10px;
    position: fixed;
    background-color: #e5e5e5;
    text-align: center;
    padding: 30px;
    margin: 10px 3% 10px 3%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1em;
}

.caja-muñeco{
    right: 70px;
    top: 10px;
    position: absolute;
    border-radius: 8px;
}
.right {
    background-color: #FFF;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    min-height: 85%;
}

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}