* {
    box-sizing: border-box;
}

body {
    background: #e9ecf8;
}

header {
    padding: 15px;
    width: 124px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-height: 1024px;
}

.botones {
    display: flex;
    justify-content: center;
    margin: 10px 0 15px 0;
}

button {
    width: 20%;
    text-align: center;
}

.main {
    box-sizing: border-box;
    float: left;
    width: 60%;
    margin: 15px 0 15px 35px;
    min-height: 600px;
}

.main p {
    margin: 15px 0 35px 35px;
    font-weight: bold;
    font-size: 14px;
}

.encriptar {
    background: rgb(77, 141, 236);
    border-radius: 10px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    width: 30%;
    margin-right: 15px;
}

.desencriptar {
    background: rgb(215, 77, 236);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
}

.desencriptar:hover,
.encriptar:hover {
    cursor: pointer;
    scale: 1.1;
}

.container-text {
    background: #b01e1e00;
    border: none;
    width: 100%;
    font-size: 20px;
    max-height: 550px;
    padding: 20px;
}

.right {
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 30%;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
}

.mostrar-msj textarea {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 1.5em;
    border: none;
}

.right .mostrar-msj {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 750px;
    max-height: 750px;
    justify-content: center;
    align-items: center;
}

.mensaje-1 {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}

.mensaje-2 {
    font-size: 19px;
    padding: 25px;
}

footer {
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 10px;
    padding: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.btn-copiar {
    margin-top: 20px;
    background: #8df75f;
    height: 50px;
    width: 70%;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

#msjCopiar {
    border-radius: 15px;
    padding: 15px;
    border: none;
}

@media only screen and (min-width: 1281px) {
    main {
        min-height: 400px;
    }
    .main {
        min-height: 350px;
        max-height: 350px;
    }
    .container-text {
        min-height: 350px;
        max-height: 350px;
        max-width: 100%;
        min-width: 100%;
    }
    .right div {
        min-height: 520px;
        max-height: 520px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        max-height: 1384px;
    }
    .menu,
    .main,
    .right,
    header,
    footer,
    main {
        width: 100%;
    }
    .right div img {
        display: none;
    }
    header {
        border: 1px solid;
        border-radius: 15px;
        margin-top: 10px;
    }
    .right {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        right: 0;
    }
    .main {
        margin: 0;
        float: none;
    }
    .right .mostrar-msj,
    .mostrar-msj textarea,
    .container-text {
        min-height: 100px;
        max-height: 400px;
    }
    .botones button {
        width: 40%;
        margin: 10px;
        height: 60px;
    }
    footer p {
        font-size: 0.8rem;
        margin-top: 30px;
    }
    footer {
        height: 80px;
        position: relative;
    }
}

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    body {
        min-height: 667px;
        max-height: 1715px;
        flex-direction: column;
    }
    .menu,
    .main,
    .right,
    header,
    footer,
    main {
        width: 100%;
    }
    .right {
        right: 0;
        margin: 15px 0 0 0;
    }
    .right .mostrar-msj,
    .mostrar-msj textarea,
    .container-text {
        min-height: 100px;
        max-height: 300px;
    }
    .main {
        min-height: 300px;
        margin: 0;
        float: none;
    }
    .container-text {
        font-size: 15px;
        padding: 10px;
        font-size: 20px;
        border-radius: 20px;
    }
    .right div img {
        display: none;
    }
    .botones {
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    .botones button {
        width: 80%;
        margin: 10px;
    }
    footer p {
        font-size: 0.8rem;
    }
    footer {
        height: 60px;
        position: relative;
    }
}